/* CSS by Michelle Chong */

/* CSS Reset */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Style Guide */

:root{
    /* Typography */
    --body-font: 'Inter', sans-serif;

    /* Font Weight */
    --semi-bold: 600;
    --regular: 400;

    /* Font Size */
    --inter-36: 2.25rem;
    --inter-24:  1.5rem;
    --inter-16: 1rem;

    /* Color */
    --blue: #4E80EE;
    --gray-900: #030616;
    --gray-200: #D2D5DA;
    --white-200: #F8FAFC;
    --white-100: #FFFFFF;
}

* {
    /* border: 1px solid red; */
}

html {
    background-color: var(--gray-200);
}

body {
    background-color: var(--white-100);
    font-family: var(--body-font);
    color: var(--gray-900);
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 3rem;
    margin: 0 auto;
}

.big {
    font-size: var(--inter-36);
    font-weight: var(--semi-bold);
    text-align: center;
    margin: 0;
}

.description {
    font-size: var(--inter-16);
    text-align: center;
}

/* Main */

main {
    background-color: var(--white-200);
    width: 100%;
    padding: 3rem 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section:not(.return) {
    border-bottom: 1px solid var(--gray-200);
}

.track {
    padding-bottom: 2rem;
}

ul, ol {
    padding: 1.2rem;
}

a:link {
    color: var(--blue);
    text-decoration: none;
}

a:visited {
    color: var(--blue);
    text-decoration: none;
}

.small {
    margin: 0;
}